<h1>Listing <%=@products_valid_count%> valid and <%=@products_dropped_count%> dropped products (Total: <%=@products_dropped_count + @products_valid_count%>)</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Rnpa</th>
    <th>Barcode</th>
    <th>Gluten free</th>
    <th>Down date</th>
    <th>Cause</th>
    <th>Action</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.rnpa %></td>
    <td><%= product.barcode %></td>
    <td><%= product.gluten_free %></td>
    <td><%= product.down_date %></td>
    <td><%= product.cause %></td>
    <td><%= link_to 'Show', rnpa_product_path(product.rnpa) %></td>
    </tr>
<% end %>
</table>

<br />
<%= will_paginate @products %>

<br />

<h3 > Last updated at <%=@products_last_update%> </h3>
<br/>
