<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Rnpa:</b>
  <%= @product.rnpa %>
</p>

<p>
  <b>Barcode:</b>
  <%= @product.barcode %>
</p>

<p>
  <b>Gluten free:</b>
  <%= @product.gluten_free %>
</p>

<p>
  <b>Down date:</b>
  <%= @product.down_date %>
</p>

<p>
  <b>Cause:</b>
  <%= @product.cause %>
</p>

<%= link_to 'Back', products_path(:token => params[token]) %>
